<h1>Editing Event</h1>

<%= render 'form', event: @event %>
<br>
<%= link_to 'Show', @event, class: "btn btn-sm btn-info" %>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' },
  class: "btn btn-sm btn-danger"%>
