<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/events"> / Events</a>
  <span class="breadcrumb-item active"> / New Event </span>
</nav>

<h1>New Event</h1>

<%= render 'form', event: @event %>
