<head>
<script>
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 10,
                time: 5000
            });
        });
    </script>
</head>
<body>
    <span class="counter">1,234,567</span>
    <span class="counter">1,234,567</span>
    <span class="counter">1,234,567</span>

</body>
