<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> > About</span>
</nav>

<div class="about-container">
<h1>About VolunteerUP!</h1><br>

<p>VolunteerUP is a great way to help the community, meet cool new people, and add stuff to LinkedIn, Facebook, and Twitter all at once! With VolunteerUp you can see which events are near you, see if any friends are volunteering, and invite them to join you. You can also share events on social media, and share volunteered work!</p>
  <div class="about-links">
    <p>
      <button class="btn btn-primary"><a href="/events"><span class="glyphicon glyphicon-arrow-right"></span> Find events </a></button>
    </p>
    <p>
      <button class="btn btn-primary"><a href="/organizations"><span class="glyphicon glyphicon-arrow-right"></span> Find organizations </a></button>
    </p>
  </div>
</div>
