<div class="about-container">
<h1>About VolunteerUP!</h1><br>

<p>VolunteerUP is a great way to help the community, meet cool new people, and add stuff to LinkedIn, Facebook, and Twitter all at once! With VolunteerUp you can see which events are near you, see if any friends are volunteering, and invite them to join you. You can also share events on social media, and share volunteered work!</p>
  <div class="about-links">
    <p>
      <button class="btn btn-default"><a href="/events">Ready to find some events? <span class="glyphicon glyphicon-arrow-right"></span></a></button>
    </p>
    <p>
      <button class="btn btn-default"><a href="/events">Participating Organizations <span class="glyphicon glyphicon-arrow-right"></span></a></button>
    </p>
  </div>
</div>
