<style>
  body {
    background-color: #efefef;
  }
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
</style>


<div id="splashpg">
  <div class="wrapper">
    <span class="hugetxt">VolunteerUP</span>
    <div class="abouttxt">
    <h6>a great way to help the community, meet new people, and gain experience </h6>
    <p></p>
    <h6>discover opportunities near you, volunteer with friends</h6>
    <p></p>
    <h6>be the change</h6>
    <p></p>

<%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-md btn-opaque" %>
</div>
</div>



<%= render partial: "counter" %>
</article>
</div>
