<style>
  body {
    background-color: #efefef;
  }
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
</style>


<div id="splashpg">
  <div class="wrapper">
    <span class="hugetxt">VolunteerUP</span>
    <div class="abouttxt">
    <h6>VolunteerUP connects you with charity events in your area.</h6>
    <p></p>
    <h6>Help the community. Meet people. Gain experience.</h6>
    <p></p>
    <h6>Be the Change.</h6>
    <p></p>

<%= button_to "Start Volunteering >>", new_user_registration_path, method: :get, class: "btn btn-md btn-opaque" %>
</div>
</div>



<%= render partial: "counter" %>
</article>
</div>
