<nav class="breadcrumb">
  <span class="breadcrumb-item active">Home</span>
</nav>

<h1>VolunteerUP!</h1><br>
<p>VolunteerUP is a great way to help the community, meet cool new people, and add stuff to LinkedIn, Facebook, and Twitter all at once! With VolunteerUp you can see which events are near you, see if any friends are volunteering, and invite them to join you. You can also share events on social media, and share volunteered work!</p><br><br>


<%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-md btn-primary" %>
