/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

 h5, th {
   font-weight: bold;
   font-size: 12px;
   text-transform: uppercase;
   color: black;
   letter-spacing: 1.1px;
   margin-top: 2em;
 }

a:hover {
  background-color: inherit;
}

a.btn {
  color: white;
}

a:hover {
  color: #005eb4;
  text-decoration: none;
}

.btn {
  border-radius: 2px;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.devise-box {
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  max-width: 337px;
}

.devise-box input, .devise-box a {
  width: 300px;
  margin-bottom: 2px
}

.devise-box label {
  margin-top: 2px;
}

.vertical-align {
  vertical-align: middle;
  /*display: inline-block;*/

}
.about-links button {
  width: 200px;
  text-align: left;
}
.about-links a:visited {
  color: white;
}
.section-box {
  background-color: #f8f8f8;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;

}

.text-area, .event-box {
  /*background-color: white;*/
  border-top: 1px solid #ebebeb;
  /*border-bottom: 1px solid #ebebeb;*/
  /*border-radius: 5px;*/
  /*padding: 0px 10px 0px 10px;*/
  margin-bottom: 2.7em;
  text-align: left;
  vertical-align: top;
}
.description {
  height: 50px;
}
.address {
  text-align: right;
}
h4{
  font-size: 40px;
  padding: 20px 20px 0px 20px;
  width: 3em;
  text-align: center;
  margin: auto auto 0px auto;
}
.flex {
  display: inline-flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.flex-child {
  margin-left: 4px;
}

#spots-open {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.2em;
}

#total-vol {
  margin-top: 0px;
  font-size: 14px;
}
.volunteers-needed {
  padding-bottom: 15px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

  #colored-vols-needed {
    background-color: #7aae49;
    color: white;
    border: 1px solid #618b3a;
    border-radius: .4em;
  }

  #greyed-out-vols-needed {
    background-color: #cfcfcf;
    color: white;
    border: 1px solid #a5a5a5;
    border-radius: .4em;
  }

#volunteers-list, #waitlist-list {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5em;
  /*margin-left: 2em;
  text-align: left;*/
}
.user-box {
  margin: 10px;
  display: inline-table;
}
.image-placeholder {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  margin: 5px;
}
.large-image-placeholder {
  max-width: 500px;
  height: 400px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: .4em;
  margin: 15px;
}
