/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

/*bootstrap overrides*/
  .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
  }

 .navbar-default {
   background-color: #fbfdfd;
   border-color: #eeeeee;
 }
 .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
   color: #545454;
 }
 .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand{
   color: #f04242;
 }

 .nav>li>a.dropdown-toggle {
    padding: 2px 21px;
    margin: auto;
  }

.dropdown-menu {
  background-color: #fff;
  border-left: 1px solid rgba(100, 100, 100, .4);
  border-right: 1px solid rgba(100, 100, 100, .4);
  border-bottom: 1px solid rgba(100, 100, 100, .4);
  border-top: none;
  width: 220px;
  top: 43px;
  margin-left: -260px;
  display: none;
  border-radius: 0px;
}

#logged-in-as {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #A9A9A9;
}

ul.nav.pull-left {
    margin-top: 6px;
    margin-right: 20px;
}

@media (max-width: 768px) {
  ul.nav.pull-left {
    margin-right: 0px;
  }
}
@media (max-width: 435px) {
  .nav>li>a {
    padding: 10px 7px;
  }
  .nav>li>a.dropdown-toggle {
    padding: 2px 10px
  }
}



.pull-right{
  /*padding: 3px 5px 0px 10px;*/
}

.nav>li>a, .nav .open>a, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:hover, .nav>li>a:focus {
   background-color: inherit;
 }

 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle   {
   background-color: inherit;
   border-color: transparent;
 }

 .nav-avatar > img {
   height: 32px;
   width: 32px;
   border-radius: 50%;
 }

 .btn-primary {
   background-color: #656565;
   border-color: #656565;
 }
 .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
   background-color: #f04242;
   border-color: #f04242;
 }

 .btn-info {
   background-color:  #a1bcc1;
   border-color:  #a1bcc1;
   color: #878787;
 }
 .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info.active:hover, .btn-info:active.focus,  {
   background-color: #CAEBF2;
   border-color: #CAEBF2;
 }

 .btn-warning {
   background-color: #f1c40f;
   border-color: #f1c40f;
 }

 .btn-warning:hover, .btn-warning:active, .btn-warning:focuse {
   background-color: #f39c12;
   border-color: #f39c12;
 }

 .btn-danger {
   background-color: #e74c3c;
   border-color: #e74c3c;
 }

 .btn-danger:hover, .btn-danger:active, .btn-danger:focuse {
   background-color: #c0392b;
   border-color: #c0392b;
 }

.pagination>li>a, .pagination>li>span {
  color: #656565;
}

/*pagination overrides*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #656565;
  border-color: #656565;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #f04242;
  background-color: white;
}


/* Makes columns same height in row */
.row-tall {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 flex-wrap: wrap;
}

/* Aligns items in column vertically */
.vertical-align {
 display: flex;
 align-items: center;
}

/* Text */

a, a:focus {
  color: #656565;
  text-decoration: none;
}

a.btn {
  color: white;
}

a:hover, a.breadcrumb-item:hover {
  color: #FF3B3F;
  background-color: inherit;
  text-decoration: none;
}

.breadcrumb>.active {
  color: #A9A9A9;
}

h1 {
  font-family: 'BenchNine', sans-serif;
  color: #A9A9A9;
  font-size: 4em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Signika', sans-serif;
  color: #A9A9A9;
  font-size: 2.5em;
  text-transform: uppercase;
}
h3 {
  font-family: 'Signika', sans-serif;
  color: #A9A9A9;
  font-size: 1.5em;
}

#about-para {
  /*background-color: #c2ebef;*/
  background-color: rgba(194,235,239,0.76);
  font-size: 1.7em;
  color: #656565;
  line-height: 2em;
  padding: 10px;
  /*display: inline-block;
  background: rgba(194,235,239,0.76);*/
  font-family: 'Signika', sans-serif;
}

h4 {
  font-size: 40px;
  padding: 20px 20px 0px 20px;
  width: 3em;
  text-align: center;
  margin: auto auto 0px auto;
}

h5, th {
 font-weight: bold;
 font-size: 16px;
 text-transform: uppercase;
 color: #656565;
 letter-spacing: 1.1px;
 margin-top: 2em;
}

.table-hover>tbody>tr:hover {
  background-color: #c2ebef !important;
}

.flash-area {
  height: 20px;
  margin-bottom: 7px;
  margin-top: 17px;
}

.btn {
  border-radius: 2px;
}

/* Breadcrumb */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 5px;
}

/* Pagination */

.align-right {
  text-align: right;
}

/* Sign in and login pages */

.user_state {
  height: 28px;
  background-color: #EFEFEF;
}

.about-links button {
  width: 200px;
  text-align: left;
}

.about-links a:visited {
  color: white;
}

.section-box {
  background-color: #EFEFEF;
  padding: 5px;
  border: 1px solid #EFEFEF;
  border-radius: 2px;
}

.text-area, .event-box {
  /*background-color: white;*/
  border-top: 1px solid #e3e3e3;
  /*border-bottom: 1px solid #ebebeb;*/
  /*border-radius: 5px;*/
  /*padding: 0px 10px 0px 10px;*/
  margin-bottom: 2.7em;
  text-align: left;
  vertical-align: top;
}

.description {
  height: 50px;
}

.address {
  text-align: right;
}

.flex {
  display: inline-flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.flex-child {
  margin-left: 4px;
}

/*Volunteers*/

#spots-open {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.2em;
}

#total-vol {
  margin-top: 0px;
  font-size: 1.125em;
}

.volunteers-needed {
  padding-bottom: 15px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#colored-vols-needed {
  background-color: #2ecc71;
  color: rgba(255,255,255,1);
  border: 1px solid #2ecc71;
  border-radius: .4em;
}

#greyed-out-vols-needed {
  background-color: #A9A9A9;
  color: rgba(255,255,255,1);
  border: 1px solid #a5a5a5;
  border-radius: .4em;
}

#volunteers-list, #waitlist-list {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5em;
  /*margin-left: 2em;
  text-align: left;*/
}

/* Profile images */

/*.user-box {
  margin: 10px;
  width: 100px;
  display: inline-table;
  text-align: center;
}*/

/*.image-placeholder {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  margin: 5px;
}*/

.large-image-placeholder {
  max-width: 500px;
  height: 400px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: .4em;
  margin: 15px;
}

/* Breadcrumb */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 5px;
}

/* org new and edit forms*/

.form-size {
  width: 65em;
}

@media (max-width: 991px) {
  .form-size {
    width: 35em;
  }
}

.form-box {
  border: 1px solid #EFEFEF;
  border-radius: 2px;
  background-color: #EFEFEF;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}

.account-settings-size {
  max-width: 55em;
}

.form-box img {
  border-radius: 2px;
  max-width: 200px;
  max-height: 200px;
}

.account-settings-field input {
  width: 20em;
}

.account-settings-city input {
  width: 15em;
  margin-right: 8px;
}

@media (max-width: 420px) {
  .account-settings-field input {
    width: 16em;
  }

  .account-settings-city input {
    width: 12em;
    margin-right: 5px;
  }

  .account-settings select {
    width: 3.5em;
  }

}

.form-box input {
  height: 28px;
  margin-bottom: 2px;
}

.field-input input {
  width: 28em;
}

.form-box label {
  margin-top: 2px;
}

.org-selector {
  margin-right: 1.4em;
}
.org-selector select{
  width: 13em;
}

.cause-selector select {
  width: 13em;
}

.form-box textarea {
  width: 28em;
  /*height: 4em;*/
}

.postal-field input{
  width: 8em;
}
.city-field > input, .country-field input {
  width: 19em;
  margin-right: 11px;
}
.state-field select {
}
