/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

a:hover {
  background-color: inherit;
}

a.btn {
  color: white;
}

a:hover {
  color: #005eb4;
  text-decoration: none;
}

.btn {
  border-radius: 2px;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.devise-box {
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  max-width: 337px;
}

.devise-box input, .devise-box a {
  width: 300px;
  margin-bottom: 2px
}

.devise-box label {
  margin-top: 2px;
}

.vertical-align {
  vertical-align: middle;
  /*display: inline-block;*/

}
