.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
#myCarousel {
  padding: 10px;
  text-align: center;
  margin: auto;
  p {
    display: none;
  }
  .carousel-control {
    opacity: 1;
    i {
      color: #fff;
    }
  }
  img {
    opacity: .9;
    border-radius: 3px;
  }
}
