/*!
 * jQuery Vertical Carousel
 * https://github.com/haripaddu/jQuery-Vertical-Carousel
 * Version: 1.0
 * License: MIT
 */
/* line 10, ../sass/jQuery.verticalCarousel.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/jQuery.verticalCarousel.scss */
.vc_goUp, .vc_goDown {
  display: block;
}
/* line 16, ../sass/jQuery.verticalCarousel.scss */
.vc_goUp.isDisabled, .vc_goDown.isDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: not-allowed;
}

/* line 21, ../sass/jQuery.verticalCarousel.scss */
.vc_container {
  overflow: hidden;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

/* line 25, ../sass/jQuery.verticalCarousel.scss */
.vc_list {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

/* line 13, ../sass/style.scss */
/* line 19, ../sass/style.scss */
.recentArticles {
  margin: 50px auto;
  max-width: 500px;
  background-color: #f1f1f1;
}

/* line 24, ../sass/style.scss */
.recentArticlesHeader {
  background: #e1e1e1;
  border-width: 0px;
  border-style: solid;
  padding: 15px;
}
/* line 27, ../sass/style.scss */
.recentArticlesHeader:after {
  content: "";
  display: block;
  clear: both;
}
/* line 32, ../sass/style.scss */
.recentArticlesHeader h3 {
  float: left;
  margin: 0px;
}
/* line 36, ../sass/style.scss */
.recentArticlesHeader .vc_goUp, .recentArticlesHeader .vc_goDown {
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  background: #fff;
  text-align: center;
  color: #000;
  margin-left: 5px;
}
/* line 45, ../sass/style.scss */
.recentArticlesHeader .vc_goUp:active, .recentArticlesHeader .vc_goDown:active {
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

/* line 52, ../sass/style.scss */
.recentArticlesGroup.vc_list > li {
  margin: 15px;
  border-width: 0px;
  border-style: solid;
  padding: 15px;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 57, ../sass/style.scss */
.recentArticlesGroup.vc_list > li h4 {
  margin: 0px 0px 15px;
}
/* line 60, ../sass/style.scss */
.recentArticlesGroup.vc_list > li p {
  margin: 0px 0px 0px;
}
