// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-notice p {
  padding-top: 1em;
  font-size: 1.3em;
}
#events_map, #event_map {
  margin-top: 1em;
  height: 400px;
  width: 600px;
  border-radius: .4em;
}
