// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-notice p {
  margin-top: 0px;
  font-size: 1.5em;
  color: #50a500;
  line-height: 1.5em;
}
#events_map, #event_map {
  margin-top: 1em;
  height: 400px;
  width: 100%;
  border-radius: .4em;
}

.flex {
  display: inline-flex;;
}

.flex-child {
  margin-left: 4px;
}
