// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Font Defaults
$header: 'BenchNine', sans-serif;
$main: 'Signika', sans-serif;

// Color Scheme
$sky: #CAEBF2;
$carbon: #A9A9A9;
$darkcarbon: #656565;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

//events


.event-notice p {
  margin-top: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
}

#signed-up {
  color: #2ecc71;
}

#on-waitlist {
  color: #FF3B3F;
}

#events_map, #event_map {
  margin-top: 1em;
  height: 400px;
  border-radius: .4em;
}

#user_map, #calendar {
  margin-top: 1em;
  // height: 335px;
  // width: 50%;
  border-radius: .4em;
}

#calendar h2 {
  font-family: $header;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: $darkcarbon;
}

.fc-toolbar.fc-header-toolbar {
  // width: 45em;
  margin: 0px;
}

.cause {
  padding: .4em .2em .4em .2em;
  width: 10em;
  border: 1px solid transparent;
  border-radius: .25em;
  color: white;
  font-size: 11px;
  text-align: center;
}

.children-youth{
  //purple
  background-color: #9b59b6;
  color: rgba(255,255,255,.6)
}
.animals{
  // red
  background-color: #f1c40f;
  color: rgba(255,255,255,.6);
}
.arts-culture{
  //orange-red
  background-color: #e67e22;
  color: rgba(255,255,255,.6);
}
.community-development{
  //pink
  background-color: #2ecc71;
  color: rgba(255,255,255,.6);
}
.health-hospitals{
  //teal
  background-color: #1abc9c;
  color: rgba(255,255,255,.6);
}
.mental-health{
  //orange-yellow
  background-color: #34495e;
  color: rgba(255,255,255,.6);
}
.education-literacy{
  //blue
  background-color: #e74c3c;
  color: rgba(255,255,255,.6);
}
.homelessness{
  //light blue
  background-color: #3498db;
  color: rgba(255,255,255,.6);
}
.other{
  //light green
  background-color: #95a5a6;
  color: rgba(255,255,255,.5);
}

// Search bar

.well {
  min-width: 467px;
  select {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;;
  }
  #filterrific_search_query {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    left-padding: 20px;
    width: 100%;
    max-width: 427px;
    margin-top: 7px;
  }
  #filterrific_with_distance_zip {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    width: 120px;
    padding: 5px;
  }
  #filterrific_with_distance_max_distance {
    width: 120px;
  }
  #filterrific_sorted_by {
    // margin-bottom: 7px;
  }
  .btn-sm {
    margin-top: 7px;
    width: 120px;
    margin-bottom: 7px;
  }
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 14px 0 0 8px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
