// Color Scheme
$sky: #CAEBF2;
$carbon: #A9A9A9;
$middlecarbon: #878787;
$darkcarbon: #656565;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

ul.notificator {
  margin: auto;
  padding: 7px 12px 7px 22px;
  z-index: 1000;
  li
  {
    list-style: none;
    i
    {
      color: #fff;
    }
  }
}

#notification-counter {
  position: absolute;
  top: 4px;
  margin-bottom: .5em;
  margin-left: 13px;
  background-color: $watermelon;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font: 8px Verdana;
}

.notification-img {
  width: 24px;
  height: 24px;
}

ul #notificationList
{
  li
  {
    position:relative;
    border-bottom: #dddddd 1px solid;
  }
  span
  {
    color: #989494;
    font-size: 8px;
  }

}

#notificationsBody  ul
{
  z-index: -1000;
  padding-left: 0;
}

#notificationContainer,
{
  background-color: #fff;
  border-left: 1px solid rgba(100, 100, 100, .4);
  border-right: 1px solid rgba(100, 100, 100, .4);
  border-bottom: 1px solid rgba(100, 100, 100, .4);
  border-top: none;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 43px;
  margin-left: -285px;
  width: 320px;
  z-index: 30;
  display: none;
}


@media (max-width: 435px) {
  ul.notificator {
    padding: 7px 10px 7px 10px
  }
  #notificationContainer,
  {
    margin-left: -235px;
    width: 290px;
    z-index: 30;
    display: none;
  }
}

// #notificationContainer:before {
//   content: '';
//   display: block;
//   position: absolute;
//   width: 0;
//   height: 0;
//   color: transparent;
//   border: 10px solid black;
//   border-color: transparent transparent white;
//   margin-top: -20px;
//   margin-left: 258px;
// }

#notificationTitle
{
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  // background-color: #fbfdfd;
  // position: absolute;
  z-index: 1;
  border-bottom: 1px solid $carbon;
  // color: $darkcarbon;
}

#notificationsBody
{
  padding: 3px 0px 0px 0px !important;
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
  position: relative;
  width: 100%;
}

ul#notificationList > li
{
  padding: 3px;
}

@media (max-width: 768px) {
  .hamburger {
    clear: both;
  }
}
