// Font Defaults
$header: 'BenchNine', sans-serif;
$main: 'Signika', sans-serif;

// Color Scheme
$sky: #CAEBF2;
$carbon: #A9A9A9;
$darkcarbon: #656565;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

// Makes columns same height in row
.row-tall {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 flex-wrap: wrap;
}

 // Aligns items in column vertically
.vertical-align {
 display: flex;
 align-items: center;
}


.org-notice p {
  margin-top: 0px;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #7aae49;
}

.modal.fade {
  width: 60%;
  top: 60px;
  margin: auto;
}

.modal-header > h1, .modal-header > h5, .modal-header > h6 {
  text-align: center;
}

.modal-exit {
  position: absolute;
  right: 10px;
  top: 10px;
}

.organizer {
  background-color: #EFEFEF;
}

.volunteer {
  background-color: #EFEFEF;
  overflow-y: auto;
  height: 750px;
}

.org-social-media a i {
  margin-left: 8%;
}

#orgcalendar {
  margin-top: 1em;
  border-radius: .4em;
  .fc-toolbar {
    background-color: $neutral;
    padding-bottom: .5em;
  }
  h2 {
  font-family: $header;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: $darkcarbon;
  }
}
.fc-content {
  background-color: #a1bcc1;
}

.fc-event, .fc-event-dot {
  background-color: #a1bcc1;
}

.fc-button-group {
  margin-left: 60%;
}

#body #orgcalendar .fc-left, h2 {
  font-weight: lighter;
  font-size: 19px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #656565;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: #a1bcc1;
}

body .fc {
  background-color: white;
  font-size: .7em;
}

.fc-toolbar .fc-center {
  margin-left: 0%;
}

.fc-view-container {
  position: relative;
}

.fc-right {
  padding: 1%;
}

.event-col-left {
  width: 60%;
}
.event-col-right {
  width: 40%;
}

.eventname {
  // font-size: 12px;
  font-weight: bold;
}

.eventdescription {
  font-weight: lighter;
  font-size: 13px;
  font-style: italic;
}

.dashboardh2 {
  font-family: $main;
  font-size: 1.8em;
}

.org-med img {
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

.org-show-events-tab {
  height: 600px;
  .nav-tabs>li.active>a {
    background-color: #EFEFEF;
    // border: none;
  }
  .nav-tabs {
    // border: none;
  }
}

#events-list tr:first-child td {
    border-top: none;
}

.org-image {
  img {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: 100%;
  }
}

.org-index-table{
  th:nth-child(1){ width:20%; }
  th:nth-child(2){ width:30%; }
  th:nth-child(3){ width:25%; }
  th:nth-child(4){ width:25%; }

  #org-desc {
    font-size: 13px;
  }
  .org-index-img img {
    border-radius: 2px;
    height: 120px;
    width: 120px;
  }
}
