// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.org-notice p {
  margin-top: 0px;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #7aae49;
}

.modal-table {
  width: 30%;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

th {
  width: 100px;
}
.organizer {
  background-color: #f8f8f8;
}

.volunteer {
  background-color: #f8f8f8;
}

.modal-exit {
  position: absolute;
  right: 10px;
  top: 10px;
}
