// Font Defaults
$header: 'BenchNine', sans-serif;
$main: 'Signika', sans-serif;

// Color Scheme
$sky: #CAEBF2;
$carbon: #A9A9A9;
$darkcarbon: #656565;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

body {
  background-color: #fff;
  color: #333;
  font-family: $main;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin: 0px 0px 33px 0px;
}

p, ol, ul, td {
  font-family: $main;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  // &:visited {
  //   color: #666;
  // }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.display-error {
  color: #de4b39;
}

.field_with_errors > input, .field_with_errors > textarea {
  border: 1px solid #de4b39;
  border-radius: .2em;
}

label {
  display: block;
}


.user-box {
  margin: 10px;
  width: 90px;
  display: inline-table;
  text-align: center;

  img  {
    border: 1px solid transparent;
    border-radius: 50%;
  }
}

.vol-row img, #admin-user-table img  {
  border: 1px solid transparent;
  border-radius: 50%;
}

.user-name {
  text-align: center;
}
