// Font Defaults
$header: 'BenchNine', sans-serif;
$main: 'Signika', sans-serif;

// Color Scheme
$sky: #CAEBF2;
$darksky: #4aabbf;
$carbon: #A9A9A9;
$middlecarbon: #878787;
$darkcarbon: #656565;
$watermelon: #FF3B3F;
$darkwatermelon: #e53538;
$neutral: #EFEFEF;

body {
  background-color: #fff;
  color: #333;
  font-family: $main;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin: 0px 0px 33px 0px;
  padding-top: 60px;
}

p, ol, ul, td {
  font-family: $main;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.btn-primary {
  background-color: $darkcarbon;
  border: 2px solid $darkcarbon;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover {
   background-color: inherit;
   border: 2px solid $darkcarbon;
   color: $darkcarbon;
   i {
     color: $darkcarbon;
   }
 }
}

.btn-info {
  background-color:  $darksky;
  border: 2px solid $darksky;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  &:hover, &:active, &:focus, &:active.focus, &:active:hover {
    background-color: inherit;
    border: 2px solid $darksky;
    color: $darksky;
    i {
      color: $darksky;
    }
  }
}

.btn-warning {
  background-color:  $darksky;
  border: 2px solid $darksky;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  &:hover, &:active, &:focus, &:active.focus, &:active:hover {
    background-color: inherit;
    border: 2px solid $darksky;
    color: $darksky;
    i {
      color: $darksky;
    }
  }
}

.btn-danger {
  background-color:  $darkwatermelon;
  border: 2px solid $darkwatermelon;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  &:hover, &:active, &:focus, &:active.focus, &:active:hover {
    background-color: inherit;
    border: 2px solid $darkwatermelon;
    color: $darkwatermelon;
    i {
      color: $darkwatermelon;
    }
  }
}


th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

caption {
  font-size: 20pt;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.display-error {
  color: #de4b39;
}

.field_with_errors > input, .field_with_errors > textarea {
  border: 1px solid #de4b39;
  border-radius: .2em;
}

label {
  display: block;
}


.user-box {
  margin-right: 10px;
  margin-top: 10px;
  width: 90px;
  display: inline-table;
  text-align: center;
  img  {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .user-name {
    margin-top: 4px;
    text-align: center;
    font-size: 13px;
  }
}

.org-box {
  margin-right: 10px;
  margin-top: 5px;
  width: 50px;
  display: inline-table;
  text-align: center;
  img  {
    border-radius: 2px;
    height: 75px;
    width: 75px;
  }
  .org-name {
    margin-top: 4px;
    text-align: center;
    font-size: 13px;
  }
}

.user-table-thumb {
  margin-left: 15px;
  display: inline-table;
  text-align: center;
  img  {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}
//
// .vol-row img, #admin-user-table img  {
//   border-radius: 50%;
// }

i {
  color: $middlecarbon;
}

.devise-box i {
  color: white;
}
