// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  padding-top: 1em;
  p {
    font-size: 1.1em;
  }
}

.user-img {
  width: 12em;;
  height: 12em;
  border-radius: 50%;
  margin: 5px;
  img {
    // Use max-width: 100% if you do not want to stretch
    // the user's profile image
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

.user-thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  img {
    max-width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

// Tabbed Column Calendar

.fc-button-group {
  margin-left: 60%;
}

.fc-center {
  margin-left: 40%;
  padding: 2%;
  border: 0%;
  font-size: 16px;
}

.fc-view-container {
  position: relative;
}

#user-events-table{
  margin-top: 3em;
  background-color: #F8F8F8;
  border: 1px solid #e7e7e7;
  border-collapse: separate;
  border-radius: .2em;
  caption {
    font-size: 20px;
  }
  th, td {
    padding-right: 1.6em;
  }
  td {
    border-bottom: .2em;
  }
}

#user-events-table .btn {
  width: 150px;
}
