// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hi-user {
  font-size: 2.8em;
}

.user-info {
  padding-top: 1em;
  p {
    font-size: 1.1em;
  }
}

.user-img {
  width: 12em;;
  height: 12em;
  border-radius: 50%;
  margin: 5px;
  img {
    // Use max-width: 100% if you do not want to stretch
    // the user's profile image
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

.user-thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  img {
    max-width: 100%;
    height: auto;
    border-radius: inherit;
  }
}

// Tabbed Column Calendar

.fc-button-group {
  margin-left: 60%;
}

.fc-center {
  margin-left: 40%;
  padding: 2%;
  border: 0%;
  font-size: 16pt;
}

.fc-view-container {
  position: relative;
}

// Events Table

#user-events-table{
  margin-top: 3em;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  border-collapse: separate;
  border-radius: .2em;
  min-width: 960px;
  caption {
    font-size: 20pt;
  }
  th, td {
    padding: 1em 1.3em;
  }
  td {
    border-bottom: .2em;
  }
  .btn { width: 125px; }
  th:nth-child(1){ width:25%; }
  th:nth-child(2){ width:20%; }
  th:nth-child(3){ width:20%; }
  th:nth-child(4){ width:20%; }
  th:nth-child(5){ width:15%; }
}

#noevents {
  font-size: 1.2em;

}
