
        <div class="carousel slide" id="myCarousel">

          <div class="carousel-inner">

            <div class="item active">
              <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                <%= image_tag("org_events/homeless.jpg",  :class => "img-responsive") %> <p>Feeding the Homeless! </p> </div>
            </div>

            <% event_imgs.each do |img, index| %>
                <div class="item">
                  <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
                    <%= image_tag("org_events/#{img.split('/').last}",  :class => "img-responsive") %> <p>Feeding the Homies! </p> </div>
                </div>
            <% end %>

            </div>

            <!-- carousel controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            <!-- end carousel controls -->
          </div>




<script>
$('#myCarousel').carousel({
  interval: 40000
});

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  if (next.next().length>0) {

      next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');

  }
  else {
      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

  }
});
</script>
