<br>

<div class="recentArticles">
            <div class="recentArticlesHeader">
                <h3>Recent Articles</h3>
                <a href="#" class="vc_goDown"><i class="fa fa-fw fa-angle-down"></i></a>
                <a href="#" class="vc_goUp"><i class="fa fa-fw fa-angle-up"></i></a>
            </div>
            <ul class="recentArticlesGroup vc_list">
                <li>
                    <h4>Article 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
                <li>
                    <h4>Article 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
                <li>
                    <h4>Article 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
                <li>
                    <h4>Article 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
                <li>
                    <h4>Article 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
            </ul>
        </div>
        <script>
            $(".recentArticles").verticalCarousel({
                currentItem: 1,
                showItems: 2,
            });
        </script>
