<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Show', @organization, class: "btn btn-xs btn-info" %> |
<%= link_to "Delete", "/organizations/" + @organization.id.to_s, method: :delete,
  class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' }%>
