<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'View Organization', @organization, class: "btn btn-sm btn-info" %>
<%= link_to "Delete Organization", "/organizations/" + @organization.id.to_s, method: :delete,
  class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' }%>
