<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/organizations"> / Organizations</a>
  <span class="breadcrumb-item active"> / New Organizatin </span>
</nav>

<h1>New Organization</h1>

<%= render 'form', organization: @organization %>
