
<li>
  <img src="https://s3-us-west-1.amazonaws.com/volunteerup-images.bucket/images/icons/notification_bell.svg" class="notification-img">
  <span id="notification-counter"><%= counter %></span>
  <% if counter == 0 %>
    <style>
      #notification-counter {
        background-color: grey;
      }
    </style>
  <% end %>
</li>
