
<ul class="notificator">
  <a href="#" id="open_notification">
    <%= render 'layouts/notification_counter', counter: @notifications.count %>
  </a>
  <div id="notificationContainer">
    <div id="notificationTitle">Notifications</div>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
        <%= render 'layouts/notification' %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>
