


<% @notifications.each do |notification| %>
<li>
  <div class="extra-padding">
    <div class="delete-notification">
    <%= link_to "/application/" + notification.id.to_s + "/delete_notification", method: :delete do %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
    </div>
    <div><%= notification.event %></div>
    <div class="notification-time"><%= notification.created_at.localtime.strftime("%d %b %Y at %I:%M%P") %><div>
    </div>

</li>
<% end %>
